h1{
    color: rgb(121, 246, 255);
    font-size: 82%;
    text-align: left;
    font-family: 'Architects Daughter',cursive;
    margin: 1%;
    margin-top: 2%;
    margin-left: 30%;
    padding-right: 25%;
  
    
}
h3 {
    text-align: center;
    color: grey


}

p{
    color: white;
    font-size: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Architects Daughter', cursive;
    padding-right: 20%;
    padding-top: 0,05%;
    padding-block-end: 1%;
    margin-left: 20%;

}

img{ max-width: 35%;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    padding: 5%;
    margin-left: 25%;
    margin-top: 3%;

}

body{

    background-size: cover;
}

.circle-img {
    max-width: 35%;
    display:flex;
    width: 35%;
    height: 35%;
    margin-left: 3%;
    border-radius: 50%;
    padding-top:1%;
  
  }

.container {

    display: flex;
    flex-direction: column;
    text-justify: column;
  }

.card {
    width: 30%
    padding 1%;
    margin: 0,2%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 40%;
    padding-right: 5%;
    padding-top: 1%;
    border-radius: 50%;
    
}
.icones {
    max-width: 7%;
    width: 7%;
    height: 7%;
    display: flex;
    margin: 1%;
    border-radius:50%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right:1%;
    padding-right:1%;
}
.icones img{
    max-width: 45%;
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-left:100%;
    

}
@media(min-width: 868px) {
    h1{font-size: 250%;}
    p{font-size: 150%;}
    img{width: 150%;}

    
}